.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #4070F4;
    color: rgb(255, 255, 255);
    padding-right: 3rem;
  }
  .bi{
    padding-right: 1rem;
    color: rgb(255, 255, 255);
  }

  