.btn-delete {
    display: flex; /* กำหนดให้ปุ่มเป็นบล็อกอิลิเมนต์ (block element) */
    width: 100%;   /* กำหนดความกว้างให้เต็มรูปกว้าง */
    text-align: center; /* กำหนดการจัดตำแหน่งข้อความในปุ่มเป็นกลาง */
    padding: 0px; /* กำหนดขอบของปุ่ม */
    margin-top: 0px; /* กำหนดระยะห่างด้านบนของปุ่ม */
  }